SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_BASE_KEY= # The default key for the client (can be changed for tests. Fallback to SUPABASE_ANON_KEY)
SUPABASE_SERVICE_ROLE_KEY=

# Stripe
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
NEXT_PUBLIC_ENGINE_API_BASE_URL=http://localhost:8000
ENGINE_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_APP_URL=http://localhost:3000
